@media screen and (max-width: 414px) {
  header .logo {
    font-size: 30px;
  }

  .filme-principal .titulo {
    font-size: 30px;
  }

  .botao {
    margin-top: 5px;
    width: 190px;
    height: 30px;
  }
}

@media screen and (min-width: 600px) {
  .box-filme:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
  }
}

@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  .botao {
    margin-top: 5px;
    width: 190px;
    height: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .descricao {
    width: 50%;
  }
}
